@font-face {
    font-family: Figtree;
    src: url("./fonts/Figtree.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    // width: 100dvw;
    // height: 100dvh;
    // overflow: auto;
    // display: flex;
    // flex-direction: column;
    font-family: Figtree, Arial, Helvetica, sans-serif;
    // background: linear-gradient(45deg, #667eea 0%, #764ba2 50%, #f093fb 100%);
    min-height: 100dvh;
    max-width: 100dvw;
    overflow: hidden;
}

input:-internal-autofill-selected {
    background-color: inherit !important;
}

.no-scrollbar {

    /* For Webkit browsers (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
        display: none;
        /* fully hides it */
    }

    /* For Firefox */
    scrollbar-width: none;
    /* hides scrollbar in Firefox */
    -ms-overflow-style: none;
    /* hides scrollbar in IE and Edge Legacy */
}